body{
	background: green;
}
.container_carta{
	background: white;
	width: 500px;
	height: 550px;
	margin-top: 60px;
	border-radius: 50px;
}

.icon_tamano{
	font-size:60px;
}

#carta_valor{
	font-size: 200px;
}